@keyframes oy {
  0% { opacity: 0; transform: translateY(-10rem); }
  80% { opacity: 0; transform: translateY(-10rem); }
  90% { opacity: 1; transform: translateY(0); }
  95% { opacity: 1; transform: translateY(-.5rem); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes wee {
  0% { transform: rotateZ(0);}
  80% { transform: rotateZ(0); }
  85% { transform: rotateZ(5deg); }
  90% { transform: rotateZ(-5deg); }
  95% { transform: rotateZ(5deg); }
  100% { transform: rotateZ(0); }
}

.files-list {
  position: fixed;
  left: 50%;
  margin-left: -7rem;
  width: 14rem;
  color: #fff;
  font-weight: bold;
  font-family: inherit;
  text-shadow: 1px 1px 3px #000;
  padding: .5rem;
  border: solid #ffb700;
  border-width: 0 8px 8px;
  border-radius: 0 0 6px 6px;
  background: linear-gradient(#ffffff 25%, #ffeddb);
  z-index: 2;
  animation: oy 1s;
  animation-fill-mode: forwards;
}

.files-list:hover {
  background: linear-gradient(#ffffff 25%, #ffe1c3);
}

.files-list li {
  list-style-type: none;
  justify-content: center;
  display: flex;
}

.files-title {
  font-size: 90%;
}

.files-title,
.files-list li {
  margin-bottom: .5rem
}

.files-button {
  cursor: pointer;
  position: relative;
  font-weight: bold;
  font-size: 90%;
  text-shadow: 1px 2px 2px #000;
  background: linear-gradient(#f1c2ff 25%, #d245ee);
  border: 4px solid #ffb700;
  border-radius: 6px;
  color: #fff;
  padding: .3rem .5rem .5rem;
  margin: 0;
  width: 100%;
  z-index: 1;
  transition: .1s ease-in-out;
  animation: wee 2s infinite;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}

.files-button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#d245ee 0,#f1c2ff);
  z-index: -1;
  transition: opacity .2s ease-in-out;
  opacity: 0;
}

.files-button:focus::before{
  opacity: 1;
}

.files-button:hover{
  animation: none;
}

.files-button:focus {
  animation: none;
  text-shadow: 0 0 0 #000;
}

@media (max-width: 800px) {
  .files-list {
    position: relative;
    left: 0;
    width: 80%;
    margin-left: 0;
  }
  .files-title {
    font-size: 100%;
  }

  .files-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .files-list ul li:not(:last-child) {
    margin-right: .5rem;
  }
}
