@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*:focus {
  outline: none
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: 0;
  backface-visibility: hidden;
}

html {
  font-size: 62.5%;
  height: 90%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  margin: 10px;
  height: 100%;
}

body,
input,
button {
  font-family: 'Ubuntu',Arial, Helvetica, sans-serif;
}

.editor {
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  border: 8px solid #fc0;
  border-radius: 6px;
  font-size: 18px;
  padding: 10px;
  resize: none;
  width: 49%;
  min-height: 75%;
}

textarea:focus {
  outline: 0 none;
}

button {
  cursor: pointer;
  background: linear-gradient(#488dff, #4150ff);
  border: 8px solid #fc0;
  border-top: 0;
  border-radius: 0 0 6px 6px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  margin: 0;
  text-transform: uppercase;
  transition: all 0.15s ease-in-out;
  width: 90%;
}

button:hover {
  background: linear-gradient(#4150ff, #488dff);
}

.view {
  background: #333;
  border: 8px solid #666;
  border-radius: 6px;
  color: #fff;
  padding: 10px;
  min-height: 75%;
  width: 49%;
}
