@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import '~normalize.css';
@import '~highlight.js/styles/dracula.css';

*:focus {
  outline: none
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: 0;
  backface-visibility: hidden;
}

html {
  font-size: 62.5%;
  height: 90%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  min-height: 100vh;
  display: grid;
  align-items: start;
}

body,
input,
button {
  font-family: 'Ubuntu',Arial, Helvetica, sans-serif;
}

.editor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: .5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  background-color: #004F04;
  border: 8px solid #ffb700;
  border-radius: 6px;
  font-size: 18px;
  color: #fff;
  font-family: 'Kalam', cursive;
  padding: 10px;
  resize: none;
  height: 95vh;
  width: 49vw;
}

.board:focus {
  outline: 0 none;
}

button {
  cursor: pointer;
  background: linear-gradient(#488dff, #4150ff);
  border: 8px solid #fc0;
  border-top: 0;
  border-radius: 0 0 6px 6px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  margin: 0;
  text-transform: uppercase;
  transition: all 0.15s ease-in-out;
  width: 90%;
}

button:hover {
  background: linear-gradient(#4150ff, #488dff);
}

.view {
  background: #333;
  border: 8px solid #666;
  border-radius: 6px;
  color: #fff;
  padding: 10px;
  height: 95vh;
  width: 49vw;
}

.view * {
  opacity: .9;
  text-shadow: 0 0 0.3rem rgb(190 218 125 / 0.9);
}

.crt {
  background-color: #050505;
  background-image: linear-gradient( transparent, rgba(200, 200, 200, 0.1) 30%, rgba(200, 200, 200, 0.1) 70%, transparent ), repeating-linear-gradient(transparent, rgba(80, 80, 80, 0.2) 2px, transparent 4px);
  background-size: 100% 18rem, 100% 100%;
  animation: crt 10s infinite;
  animation-fill-mode: forwards;
}

@keyframes crt {
  0% {
    background-position: 0 0, 0 0;
    animation-timing-function: linear;
  }
  100% {
    background-position: 0 -18rem, 0 0;
  }
}
