@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import '~normalize.css';
@import '~highlight.js/styles/dracula.css';

@keyframes crt {
  0% {
    background-position: 0 0, 0 0;
    animation-timing-function: linear;
  }
  100% {
    background-position: 0 -18rem, 0 0;
  }
}

*:focus {
  outline: none
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: 0;
  backface-visibility: hidden;
}

::selection {
  background-color: gradient
}

html {
  font-size: 62.5%;
  height: 90%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  min-height: 100vh;
  display: grid;
  align-items: start;
}

body,
input,
button {
  font-family: 'Ubuntu',Arial, Helvetica, sans-serif;
}

.editor { margin: .5vh .5vw; }

.header { justify-content: flex-start; }
.main { justify-content: space-between; }

.header,
.main {
  display: flex;
  flex-direction: row;
}

.button {
  cursor: pointer;
  background: linear-gradient(#488dff, #4150ff);
  border: 8px solid #ffb700;
  border-radius: 6px 6px 0 0;
  border-bottom: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  margin: 0;
  text-transform: uppercase;
  transition: all 0.15s ease-in-out;
  margin-left: 8px;
}

.button:hover {
  background: linear-gradient(#4150ff, #488dff);
}

.board {
  background-color: #004F04;
  border-color: #ffb700;
  font-size: 18px;
  color: #fff;
  font-family: 'Kalam', cursive;
  resize: none;
}

.board:focus {
  outline: 0 none;
}

.view {
  background: #333;
  color: #fff;
  border-color: #666;
  word-break: break-word;
}

.view * {
  opacity: .9;
  text-shadow: 0 0 0.3rem rgb(190 218 125 / 0.9);
}

.board ,
.view {
  border-width: 8px;
  border-style: solid;
  border-radius: 6px;
  padding: 10px;
  height: 80vh;
  width: 49vw;
}

.crt {
  background-color: #050505;
  background-image: linear-gradient( transparent, rgba(200, 200, 200, 0.1) 30%, rgba(200, 200, 200, 0.1) 70%, transparent ), repeating-linear-gradient(transparent, rgba(80, 80, 80, 0.2) 2px, transparent 4px);
  background-size: 100% 18rem, 100% 100%;
  animation: crt 10s infinite;
  animation-fill-mode: forwards;
}

@media (max-width: 800px) {
  .main {
    flex-direction: column;
  }

  .board {
    margin-bottom: 1rem;
  }

  .board,
  .view {
    width: 98vw;
  }
}


